main {
   font-family: Arial, Helvetica, sans-serif;
   width: 50%;
   background-color: powderblue;
   position: fixed;
}

.InputComponent {
    text-align: center;
    margin: auto;
    background-color: lightcoral
}

input {
    border: None;  
}