#root {
    overflow: scroll;
    width: 101%;
    background-color: #CCCCCC;
    padding-bottom: 1%;
    font-family: "Nunito"
}

#title {
    text-align: center;
    font-size:5em;
    background-color: #333333;
    color: rgb(230, 225, 225);
    font-family: "Jua";
}

.subheader {
    text-align: left;
    font-size: 1.2em;
    font-weight: bolder;
}

button {
    margin: 0.5%;
    width: 93%;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #333333;
    color: white;
    padding: 2.5% 0% 2.5% 0%;
    vertical-align: middle;
    font-family: "Nunito";
    line-height: 0px;
}

#Input {
    font-family: "Nunito";
    width: 60%;
    margin: auto;
    background-color: whitesmoke;
    height: 100%;
    padding-bottom: 0.25%;
}

.InputComponent {
    text-align: center;
    margin: auto;;
    padding: 0.5% 2% 0% 2%;
    margin: 0.5%;
    border-radius: 10px;
}

#result {
    background-color: aqua;
    top: 0px;
}

input {
    border: None;
    border-radius: 10px;
    background-color: white;
    width: 90%;
    height: 40px;
    margin: 0% 0.5% 0.5% 0.5%;
    font-size: 18px;
    padding: 0.5% 0% 0.5% 2.5%;
    font-family:"Nunito";
}

textarea {
    border: none;
    border-radius: 10px;
    background-color: white;
    width: 90%;
    height: 100px;
    margin: 0% 0.5% 0.5% 0.5%;
    padding: 1.5% 0% 0.5% 2.5%;
    font-family: "Nunito";
    font-size: 18px;
}


.duration {
    display: flex;
    width: 93.5%;
    margin: auto;
    text-align: center;
}

.globalbutton {
    width: 88%;
    margin-left: 5.75%;
}

#clear {
    background-color: rgb(236, 80, 48);
}

#load {
    background-color: navy;
}

#generate {
    background-color: green;
}

::placeholder {
    color: #333333;
    font-size: 1.1rem;
    font-family: "Nunito";
}

#preview {
    background-color: white;
    margin: auto;
    width: 55vw;
    height: calc(55vw * 1.412);
    border: black solid 1px;
    border-style: double;
    line-height: 0px;
    padding: 1% 1% 1% 1%;
}

.header {
    background: white;
    height: 20%;
    padding: 2.5% 0% 2.5% 5%;
}

.header #displayPersonal #name {
    font-size: 40px;
    font-weight: 400px;
    padding-bottom: 2.5%;
}

#displayPersonal #name {
    font-size: 40px;
}

.work {
    padding-left: 5%;
}

#workItem {
    width: 95%;
    min-height: fit-content;
    
}

#workItem #period {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    float: right;
    margin-right: 0;
    line-height: 16px;
}

#workItem .details{
    line-height: 0px;
    display: inline-block;
    width: 75%;
    font-size: 16px;
}

#workItem .description {
    font-size: 14px;
    line-height: 14px;
    padding-left: 2.5%;
}

#educationItem {
    width: 95%;
    vertical-align: top;
}

#educationItem #period {
    font-size:16px;
    font-weight: bold;
    text-align: right;
    float: right;
    margin-right: 0;
    line-height: 16px;
    
}

#educationItem .details{
    line-height: 0px;
    display: inline-block;
    width: 75%;
    font-size: 16px;
    vertical-align: top;
}

#educationItem .description{
    font-size: 14px;
    line-height: 14px;
    padding-left: 2.5%;
}

.education {
    padding-left: 5%;
    padding-bottom: 1%;
}

hr {
    display: inline-block;
    width: 95%;
}